.bg{
    &-about{
        @include set-background($bg__about-img,0,"center","cover","scroll");
    }
    &-basket{
        @include set-background($bg__basket-img,0,"top right","cover","fixed");
    }
    &-form{
        @include set-background($bg__form-img,0,"center","cover","scroll");
    }
    &-green{
        background-color: $color__green!important;
    }
    &-home{
        @include set-background($bg__home-img,0,"center","cover","scroll");
    }
    &-menu{
        @include set-background($bg__menu-img,0,"top right","cover","fixed");
    }
}
.border{
    &-green{
        border-color: $color__green!important;
    }
}
.contact{
    &-bg{
        @include set-background($bg__contact-img,0,"top center","cover","fixed");
    }
}
.login{
    &-form{
        @include set-background($bg__login-img,0,"top left","cover","fixed");
    }
}
.opacity{
    &-8{
        opacity: 0.8;
    }
    &-9{
        opacity: 0.9;
    }
}
.register{
    &-form{
        @extend .login-form;
    }
}
.text{
    &-green{
        color: $color__green!important;
    }
}
textarea{
    resize: none;
}